@use "../../theme/global-styles/color" as *;

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: $primary-50;
  border-bottom: 1px solid $primary-100;

  .header-avatar {
    width: 40px;
    height: 40px;
    background: black;
    color: white;
    border-radius: 33px;

    .header-name {
      line-height: 40px;
      font-weight: normal;
      text-align: center;
      font-size: 1.1rem;
    }
  }
}
