@use "../../theme/global-styles/color" as *;

.info-controller {
  display: inline-block;
  background: white;
  border-left: 1px solid #cccccc;
  height: 70%;
  width: 100%;

  .info-header {
    display: flex;
    padding: 10px;
    gap: 20px;
    border-bottom: 1px solid $primary-100;

    h4 {
      font-weight: bold;
    }
  }

  .info-body {
    display: flex;
    height: calc(100% - 48px);

    .info-content {
      display: flex;
      height: 100%;
      width: 100%;
      overflow-y: scroll;
    }

    .chat-content {
      height: 100%;
      width: 100%;
    }
  }
}

.on {
  cursor: pointer;
  color: $primary-300;
  font-weight: bold;
}
.off {
  cursor: pointer;
  color: $primary-100;
}
