@use "../../theme/global-styles/color" as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 14px;
  color: white;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
}

.primary {
  // max-width: 200px;
  color: white;
  background: $accent-default;
  cursor: pointer;

  &:hover {
    background: $accent-hover;
  }
}

.equa,
.calc,
.secondary {
  color: $accent-default;
  border: 1px solid $accent-default;
  background: white;
  cursor: pointer;
  text-align: left;
  max-width: 360px;
  &:hover {
    background: $accent-secondary;
  }
}

.inactive {
  cursor: not-allowed;
  max-width: 200px;
  background: $primary-100;
}
