@use "../../theme/global-styles/color" as *;

.dropdowns-controller {
  display: inline-block;
  background: white;
  border-left: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  height: 30%;
  width: 100%;

  .dropdowns-header {
    padding: 10px;
    border-bottom: 1px solid $primary-100;

    h4 {
      color: $primary-300;
      font-weight: bold;
    }
  }

  .dropdowns-body {
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 48px);
    overflow-y: scroll;

    .dropdowns-row-headers {
      width: 100%;
      display: flex;
      border-bottom: 1px solid $primary-100;

      .dropdowns-row-header {
        flex: 2;
        border-right: 1px solid $primary-100;
        padding: 10px 20px;
      }

      .dropdowns-row-padding {
        flex: 1;
        padding: 0 20px;
      }
    }
  }

  .add-dropdown-btn {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    color: $primary-200;

    .add-dropdown-icon {
      fill: $primary-200;
    }

    &:hover {
      background: $primary-60;
      color: $primary-300;
    }

    &:hover .add-dropdown-icon {
      fill: $primary-300;
    }
  }
}
