@use "../../theme/global-styles/color" as *;

.notes-controller {
  display: inline-block;
  background: white;
  border-left: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  width: 100%;
  height: 50%;

  .notes-header {
    padding: 33px 35px;
    border-bottom: 1px solid $primary-100;

    h4 {
      color: $primary-300;
      font-weight: bold;
    }
  }
}
