@use "../../theme/global-styles/color" as *;

.chat-card {
  display: flex;
  align-items: top;
  gap: 10px;
  max-width: 90%;

  .chat-card-text {
    display: flex;
    flex-direction: column;

    p {
      font-size: 0.9rem;
      padding: 10px;
      color: white;
      border-radius: 0.6rem;
    }
  }

  .me {
    background: $accent-hover;
  }

  .notme {
    background: $primary-200;
  }

  .chat-card-avatar {
    display: flex;
    flex-direction: column;
    align-items: top;
    width: 40px;
    height: auto;
    object-fit: contain;
  }
}
