.warmup {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
  position: relative;
  gap: 20px;

  .warmup-header {
  }
  .warmup-text {
  }
  .warmup-image {
    width: 100%;
    height: auto;
  }
  .warmup-buttons {
    display: flex;
    gap: 20px;
    justify-content: end;
  }
}
