.warmup {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
  position: relative;
  gap: 20px;
  .warmup-text {
    line-height: 20px;
    height: 40px;
  }
  .warmup-image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .warmup-buttons {
    display: flex;
    gap: 20px;
    justify-content: end;

    button {
      max-width: 200px;
    }
  }
}
